
.App {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #f7f7f7, #110c18);
}
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

.weather-table {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

td:first-child {
  font-weight: bold;
  background-color: #eee;
}

.error-message {
  color: red;
  margin-top: 20px;
}
